name: Daily Fetch

on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:

jobs:
  update-data:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Requests
        run: pip install requests

      - name: Run Script
        run: python fetch_data.py

      - name: Save Data
        run: |
          git config user.name 'Bot'
          git config user.email 'bot@noreply.com'
          git add daily_report.txt daily_report.json
          git commit -m "Daily Data Update" || echo "No changes"
          git push
